body {
  height: 100vh;
  display: flex;
  place-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(250, 250, 250), rgb(122, 120, 120));
}

button{
  display: inline-block;
  margin: 10px;
}
